.box {
    width: 800px;
    height: 800px;

    background: #807564;

}

.grn {
    background: darkslategray;
    width: 800px;
    height: 200px;



}
.boxs{
    display: flex;
    justify-content: flex-end;

}

.gold {
    background: rgba(255, 197, 55, 0.75);
    width: 600px;
    height: 600px;

}

.red {
    width: 200px;
    height: 600px;
    background: rgba(255, 17, 14, 0.75);

}